Repository zihad2003/BigBazarbariarhat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
    "*.{ts,tsx}": [
        "prettier --write",
        "eslint --fix --max-warnings 0"
    ],
    "*.{js,jsx,mjs,cjs}": [
        "prettier --write",
        "eslint --fix --max-warnings 0"
    ],
    "*.{json,md,css,html}": [
        "prettier --write"
    ]
}

fix(admin): serve local uploads via api to bypass public folder caching in dev mode
  apps/admin/app/api/upload/route.ts
  apps/admin/app/api/uploads/[filename]/route.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(upload): resolve 0.0.0.0 hostname issue for local uploads and sanitize legacy URLs
  apps/admin/app/(dashboard)/categories/page.tsx
  apps/admin/app/api/upload/route.ts
  apps/web/src/lib/cloudinary-loader.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(admin): remove GBP from available store currencies
  apps/admin/app/(dashboard)/settings/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(admin): remove Store Currency section from settings page
  apps/admin/app/(dashboard)/settings/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(store): delete hardcoded default promo banners from storefront homepage
  apps/web/src/app/(shop)/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Migrate deployment to @opennextjs/cloudflare, verify Prisma Accelerate setup, disable build ignores, fix eslint/tsc errors, and patch Windows dynamic WASM paths
  apps/admin/package.json
  apps/web/.gitignore
  apps/web/eslint.config.mjs
  apps/web/next.config.ts
  apps/web/open-next.config.ts
  apps/web/package.json
  apps/web/patch-handler.js
  apps/web/src/app/(shop)/products/page.tsx
  apps/web/src/app/(shop)/sale/page.tsx
  apps/web/src/app/api/orders/route.ts
  apps/web/src/components/error-boundary.tsx
  apps/web/src/components/shop/product-reviews.tsx
  apps/web/src/components/toast-container.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/wrangler.toml
  package-lock.json
  package.json
  packages/database/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

Provide fallback DATABASE_URL at build-time to avoid Prisma initialization warnings in CI
  packages/database/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix wrangler.toml: use valid compatibility_date and correct Workers URL
  .env.example
  apps/web/wrangler.toml
Due: none

fix: declare edge runtime in root layouts to propagate to all pages
  apps/admin/app/layout.tsx
  apps/web/src/app/layout.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: revert apps/web back to @opennextjs/cloudflare Workers setup
  apps/web/open-next.config.ts
  apps/web/package.json
  apps/web/patch-handler.js
  apps/web/src/app/api/admin/coupons/route.ts
  apps/web/src/app/api/admin/orders/route.ts
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/app/api/auth/register/route.ts
  apps/web/src/app/api/banners/[id]/route.ts
  apps/web/src/app/api/banners/route.ts
  apps/web/src/app/api/categories/[slug]/route.ts
  apps/web/src/app/api/categories/route.ts
  apps/web/src/app/api/coupons/validate/route.ts
  apps/web/src/app/api/orders/[orderId]/cancel/route.ts
  apps/web/src/app/api/orders/[orderId]/route.ts
  apps/web/src/app/api/orders/[orderId]/status/route.ts
  apps/web/src/app/api/orders/route.ts
  apps/web/src/app/api/products/[id]/reviews/route.ts
  apps/web/src/app/api/products/[id]/route.ts
  apps/web/src/app/api/products/featured/route.ts
  apps/web/src/app/api/products/route.ts
  apps/web/src/app/api/products/search/route.ts
  apps/web/src/app/api/proxy-image/route.ts
  apps/web/src/app/api/settings/route.ts
  apps/web/src/app/layout.tsx
  apps/web/wrangler.toml
  package-lock.json
Due: prettier --write, eslint --fix --max-warnings 0

fix: add missing @radix-ui/react-select and @radix-ui/react-dropdown-menu dependencies to web app
  apps/web/package.json
  package-lock.json
  package.json
Due: prettier --write

fix: run prisma generate before next build in web app
  apps/web/package.json
Due: prettier --write

fix: add [build] command to wrangler.toml and set workers.dev URL
  apps/web/wrangler.toml
Due: none

fix: use correct schema path for prisma generate in web build
  apps/web/package.json
Due: prettier --write

fix: make Supabase client initialization lazy in shared package
  packages/shared/src/api/products.service.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix: completely remove supabase from packages/shared
  .gitignore
  package-lock.json
  package.json
  packages/shared/package.json
  packages/shared/src/api/products.service.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix: add cloudflare environment variables to wrangler.toml [vars]
  apps/web/wrangler.toml
Due: none

fix: rename worker from bigbazar-web to bigbazarbariarhat
  apps/web/wrangler.toml
Due: none

fix: map NEXTAUTH_SECRET to AUTH_SECRET for NextAuth v5 compatibility
  .env.example
  apps/web/src/auth.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix: map NEXT_PUBLIC_APP_URL to AUTH_URL inside auth.ts
  apps/web/src/auth.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: add directUrl to schema.prisma datasource config
  packages/database/prisma/schema.prisma
Due: none

feat: conditionally extend withAccelerate only for prisma:// protocol URLs
  packages/database/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix: resolve prisma client union type mismatch compiling error
  packages/database/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: change PrismaClient import from edge to standard client to support direct connections
  packages/database/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(db): migrate database connection layer to TiDB Cloud Serverless Driver with Prisma Adapter
  package-lock.json
  package.json
  packages/database/index.ts
  packages/database/package.json
  packages/database/prisma/schema.prisma
Due: prettier --write, eslint --fix --max-warnings 0

build(deps): add @ast-grep/napi optional dependencies for Linux build agent compatibility
  package-lock.json
  package.json
Due: prettier --write

build(web): resolve absolute WASM query engine paths to correct relative paths on Edge runtime
  apps/web/patch-handler.js
Due: prettier --write, eslint --fix --max-warnings 0

feat: migrate database layer to pure TiDB serverless connection, remove Prisma dependencies, fix TypeScript build-time errors, and secure dynamically compiled queries
  .github/workflows/playwright.yml
  apps/admin/app/(dashboard)/customers/page.tsx
  apps/admin/app/(dashboard)/page.tsx
  apps/admin/app/api/customers/route.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/patch-handler.js
  apps/web/src/app/api/categories/[slug]/route.ts
  apps/web/src/app/api/products/route.ts
  package-lock.json
  package.json
  packages/database/index.ts
  packages/database/package.json
  packages/database/prisma/schema.prisma
  playwright.config.js
  query-product.js
  test_tidb.js
  tests/example.spec.js
Due: prettier --write, eslint --fix --max-warnings 0

fix(auth): restore sign-in/sign-up forms and resolve redirection loop
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/app/(auth)/sign-up/page.tsx
  apps/web/src/app/(shop)/account/account-layout-client.tsx
  apps/web/src/app/(shop)/account/orders/page.tsx
  apps/web/src/app/(shop)/account/profile/page.tsx
  apps/web/src/app/admin/admin-layout-client.tsx
  apps/web/src/auth.config.ts
  apps/web/src/middleware.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(shop): replace shop page, loading and client components as requested
  package-lock.json
Due: prettier --write

feat(db): auto inject createdAt and updatedAt timestamps in custom wrapper
  packages/database/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(web): resolve type union issues and database arithmetic updates
  apps/web/src/app/(shop)/page.tsx
  apps/web/src/app/(shop)/shop/ShopClient.tsx
  apps/web/src/components/layout/footer.tsx
  apps/web/src/components/layout/header.tsx
  package-lock.json
  packages/database/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix product grid images parsing and admin auth runtime
  apps/admin/app/api/auth/[...nextauth]/route.ts
  apps/admin/auth.ts
  apps/web/public/placeholder.jpg
  apps/web/public/placeholder.png
  apps/web/src/app/(shop)/page.tsx
  apps/web/src/app/(shop)/shop/page.tsx
  apps/web/src/app/api/products/featured/route.ts
  apps/web/src/app/api/products/route.ts
  apps/web/src/app/api/products/search/route.ts
  apps/web/src/components/layout/footer.tsx
  apps/web/src/components/layout/header.tsx
  apps/web/src/components/layout/mobile-menu.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Security fixes: remove secrets, fix auth, add stock guards, prevent open redirect
  apps/admin/app/api/orders/[id]/route.ts
  apps/admin/app/login/page.tsx
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/app/api/orders/[orderId]/cancel/route.ts
  apps/web/src/app/api/proxy-image/route.ts
  apps/web/src/auth.ts
  apps/web/wrangler.toml
  packages/database/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

Performance and i18n improvements: fix cloudinary loader, centralize translations
  apps/web/src/app/(shop)/wishlist/page.tsx
  apps/web/src/components/layout/cart-drawer.tsx
  apps/web/src/components/layout/header.tsx
  apps/web/src/components/layout/mobile-bottom-nav.tsx
  apps/web/src/components/shop/product-card.tsx
  apps/web/src/components/shop/product-quick-view.tsx
  apps/web/src/lib/cloudinary-loader.ts
  apps/web/src/lib/i18n/translations.ts
Due: prettier --write, eslint --fix --max-warnings 0

Set default language to Bangla (bn)
  apps/web/src/app/providers.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Fix overselling race condition, complete i18n centralization, set Bangla as default
  apps/admin/app/api/settings/route.ts
  apps/web/src/app/(shop)/HomeClient.tsx
  apps/web/src/app/(shop)/checkout/page.tsx
  apps/web/src/app/(shop)/products/[slug]/ProductDetailClient.tsx
  apps/web/src/app/(shop)/wishlist/page.tsx
  apps/web/src/app/api/orders/route.ts
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/components/shop/product-grid.tsx
  apps/web/src/lib/i18n/translations.ts
  packages/database/check-admin.ts
  packages/database/index.ts
  packages/database/migrate-default-language.ts
  packages/database/reset-admin.ts
  packages/database/seed-admin.ts
  packages/database/seed-banners.ts
  packages/database/seed-categories.ts
  packages/database/temp-check.js
  packages/database/temp-test.ts
  packages/database/test-password.ts
  query-product.js
  test_tidb.js
Due: prettier --write, eslint --fix --max-warnings 0

Fix product grid display and add Instagram video preview
  apps/web/src/app/(shop)/products/[slug]/ProductDetailClient.tsx
  apps/web/src/app/api/products/route.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(web): correct featured typo in products api route
  apps/web/src/app/api/products/route.ts
Due: prettier --write, eslint --fix --max-warnings 0
